@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
}

:root {
    --main-color-dark: 105, 103, 101;
    --main-color-medium: 175, 173, 172;
    --main-color-light: 235, 234, 234;
    --logo-color-dark: 192, 53, 47;
    --logo-color-light: 197, 164, 131;
    --text-color-light: 247, 245, 243;
    --text-color-dark: 37, 31, 24;
    --accent-color: 57, 170, 173;
}

.text-color-test-area {
    color: rgb(105, 103,101); /*main color dark*/
    color: rgb(175,173,172); /*main color medium*/
    color: rgb(235,234,234); /*main color light*/
    color: rgb(192, 53, 47); /*logo color dark*/
    color: rgb(197, 164, 131); /*logo color light*/
    color: rgb(247, 245, 243); /*text color light*/
    color: rgb(37, 31, 24); /*text color dark*/
    color: rgb(57, 170, 173); /*accent color*/
}

body {
    width: 100vw;
    background-color: rgb(var(--main-grade2));
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;   
    color: Blue; 
}

a:hover {
    color: rgb(var(--logo-color-dark));
}

#header {
    width: 100vw;
    height: 7.5rem;
    background-color: rgb(var(--main-color-dark));
    color: rgb(var(--text-color-light));
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

#nav-container {
    width: 85vw;
    height: 7.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    color: rgb(var(--text-color));
    text-decoration: none;
}

#splash-sect {
    position: relative;
    top: 6.5rem;
    width: 100vw;
    height: 30rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-cover {
    width: 90vw;
    height: calc(30rem * 0.90);
    /*background-color:rgba(0, 255, 255, 0.2); diagnostic ----------------------------------------------------------------------*/
    display: flex;
    flex-direction: column;
}

#splash-logo {
    width: 17rem;
    height: 10rem;
    background-color: rgba(var(--main-color-dark), 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skrt-container {
    display: flex;
    justify-content: center;
    color: rgb(var(--logo-color-dark));
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;
    /*background-color: rgba(0, 17, 255, 0.2); diagnostic ----------------------------------------------------------------------*/
}

#modl-klub-container {
    display: flex;
    justify-content: center;
    color: rgb(var(--logo-color-dark));
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 2rem;
    /*background-color: rgba(0, 255, 34, 0.2); diagnostic ----------------------------------------------------------------------*/
}

#online-sect {
    position: relative;
    top: 4.8rem;
    width: 100vw;
    height: 90rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-feature {
    width: 90vw;
    height: 30rem;
    background-color: rgba(0, 255, 34, 0.2); /*diagnostic -------------------------------------------------------------------*/
    display: flex;
    align-items: center;
}

.online-img-container {
    width: 25rem;
    height: 25rem;
}

.online-img {
    width: 25rem;
    height: 25rem;
    position: relative;
}

.online-img-cover {
    width: 90vw;
    height: 25rem;
    /*background-color: rgba(226, 43, 67, 0.5); diagnostic -----------------------------------------------------------------*/
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.online-title {
    width: 20rem;
    height: 5rem;
    background-color: rgba(var(--main-color-dark), 0.8);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-title > h3 {
    font-size: 2rem;
    font-weight: 200;
}

.online-text {
    width: 20rem;
    height: 15rem;
    background-color: rgba(var(--main-color-dark), 0.8);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-text > p {
    text-align: center;
}

#one-to-one-sect {
    position: relative;
    top: 4.8rem;
    width: 100vw;
    height: 30rem;
    background-color: rgb(var(--main-color-light));
    color: rgb(var(--text-color-dark));
}

#trans-sect {
    position: relative;
    top: 1.6rem;
    width: 100vw;
    height: 30rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
}

#footer {
    position: relative;
    top: 1.6rem;
    width: 100vw;
    height: 7.5rem;
    background-color: rgb(var(--main-color-dark));
    color: rgb(var(--text-color-light));
    display: flex;
    justify-content: center;
}

#no-socials {
    width: 100vw;
    height: calc(100vh - 15rem);
    background-color: rgb(var(--main-color-medium));
}

#socials-container {
    width: 50vw;
    height: 7.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-links {
    color: rgb(var(--text-color));
    text-decoration: none;
}
