@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-dark: 105, 103, 101;
    --main-color-medium: 175, 173, 172;
    --main-color-light: 235, 234, 234;
    --logo-color-dark: 192, 53, 47;
    --logo-color-light: 197, 164, 131;
    --text-color-light: 247, 245, 243;
    --text-color-dark: 37, 31, 24;
    --text-color-dark2: 14, 11, 9;
    --accent-color: 57, 170, 173;
}

.text-color-test-area {
    color: rgb(105, 103,101); /*main color dark*/
    color: rgb(175,173,172); /*main color medium*/
    color: rgb(235,234,234); /*main color light*/
    color: rgb(192, 53, 47); /*logo color dark*/
    color: rgb(197, 164, 131); /*logo color light*/
    color: rgb(247, 245, 243); /*text color light*/
    color: rgb(14, 11, 9); /*text color dark*/
    color: rgb(57, 170, 173); /*accent color*/
}

body {
    width: 100%;
    background-color: rgb(var(--main-color-dark));
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;   
    color: Blue;
    margin: 0;
    padding: 0;
}

a:hover {
    color: rgb(var(--logo-color-dark));
}

#header {
    width: 100%;
    height: 7.5rem;
    background-color: rgba(var(--main-color-dark), 0.6);
    backdrop-filter: blur(5px);
    color: rgb(var(--text-color-light));
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

#nav-container {
    width: 85vw;
    height: 7.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    color: rgb(var(--text-color));
    text-decoration: none;
}

#splash-sect {
    position: relative;
    top: 6.5rem;
    width: 100%;
    height: 30rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-cover {
    width: 90vw;
    height: 27rem;
    display: flex;
    flex-direction: column;

    /*background-color:rgba(0, 255, 255, 0.2); diagnostic*/
}

#splash-logo {
    width: 17rem;
    height: 10rem;
    background-color: rgba(var(--main-color-dark), 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skrt-container {
    display: flex;
    justify-content: center;
    color: rgb(var(--logo-color-dark));
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;

    /*background-color: rgba(0, 17, 255, 0.2); diagnostic*/
}

#modl-klub-container {
    display: flex;
    justify-content: center;
    color: rgb(var(--logo-color-dark));
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 2rem;

    /*background-color: rgba(0, 255, 34, 0.2); diagnostic*/
}

#online-sect {
    position: relative;
    top: 4.8rem;
    width: 100%;
    height: 90rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.section-title-container {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /*background-color: rgba(0, 255, 34, 0.2) diagnostic*/
}

.section-title-text {
    color: rgb(var(--logo-color-dark));
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 3rem;
    padding: 10px;
}

.online-feature {
    width: 90%;
    height: 30rem;
    display: flex;
    align-items: center;

    /*background-color: rgba(0, 255, 34, 0.2); diagnostic*/
}

.online-img-container {
    width: 25rem;
    height: 25rem;
}

.online-img {
    width: 25rem;
    height: 25rem;
    position: relative;
}

.online-img-cover {
    width: 90%;
    height: 25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    /*background-color: rgba(226, 43, 67, 0.5); diagnostic*/
}

.online-title {
    width: 20rem;
    height: 5rem;
    background-color: rgba(var(--main-color-dark), 0.6);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-title > h3 {
    font-size: 2rem;
    font-weight: 200;
}

.online-text {
    width: 20rem;
    height: 15rem;
    background-color: rgba(var(--main-color-dark), 0.6);
    backdrop-filter: blur(5px);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-text > p {
    text-align: center;
}

#one21-sect {
    position: relative;
    top: 4.8rem;
    width: 100%;
    height: 90rem;
    background-color: rgb(var(--main-color-light));
    color: rgb(var(--text-color-dark));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.one21-feature {
    width: 90%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: end;

    /*background-color: rgba(0, 255, 34, 0.2); diagnostic*/
}

.one21-img-container {
    width: 25rem;
    height: 25rem;
}

.one21-img {
    width: 25rem;
    height: 25rem;
    position: relative;
}

.one21-img-cover {
    width: 90%;
    height: 25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    /*background-color: rgba(226, 43, 67, 0.5); diagnostic*/
}

.one21-title {
    width: 20rem;
    height: 5rem;
    background-color: rgba(var(--main-color-medium), 0.6);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one21-title > h3 {
    font-size: 2rem;
    font-weight: 200;
}

.one21-text {
    width: 20rem;
    height: 15rem;
    background-color: rgba(var(--main-color-medium), 0.6);
    backdrop-filter: blur(5px);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one21-text > p {
    text-align: center;
}

#trans-sect {
    position: relative;
    top: 4.8rem;
    width: 100%;
    height: 30rem;
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#trans-container {
    width: 90%;
}

#form-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trans-text {
    text-align: center;
}

#checkbox-container-all {
    width: 90wv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.checkbox-container-half {
    width: 90wv;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 3rem;
}

#footer {
    position: relative;
    top: 4.8rem;
    width: 100%;
    height: 7.5rem;
    background-color: rgb(var(--main-color-dark));
    color: rgb(var(--text-color-light));
    display: flex;
    justify-content: center;
}

#no-socials-sect {
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-socials-sect * {
    background-color: rgb(var(--main-color-medium)) !important; 
}

#no-socials-container {
    position: relative;
    top: 6.6rem;
    width: 100%;
    height: calc(100vh - 10rem);
    background-color: rgb(var(--main-color-medium));
    color: rgb(var(--text-color-light));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#socials-container {
    width: 50%;
    height: 7.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-links {
    color: rgb(var(--text-color));
    text-decoration: none;
}

@media only screen and (min-width: 576px) {
    #trans-container {
        width: 30rem;
    }
    .online-feature, .one21-feature {
        width: 52rem;
    }
    .online-img-cover, .one21-img-cover {
        width: 52rem;
    }
}
    
@media only screen and (min-width: 768px) {
    #nav-container {
        width: 50%;
    }
    #splash-sect {
        height: 40vw;
        max-height: 1000px;
    }
    #splash-cover {
        height: 36vw;
        max-height: 900px;
    }
    #splash-logo {
        height: 12vw;
        width: calc(12vw * 1.7);
    }
    #skrt-container {
        font-size: 6vw;
    }
    #modl-klub-container {
        font-size: 2.4vw;
    }
    .section-title-container {
        width: 90%;
        max-width: 80rem;
    }
    #online-sect, #one21-sect {
        height: 180rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .online-feature, .one21-feature {
        height: 50rem;
        width: 90%;
        max-width: 77rem;
    }
    .online-img-container, .one21-img-container {
        width: 50rem;
        height: 50rem;
    }   
    .online-img, .one21-img {
        width: 50rem;
        height: 50rem;
        position: relative;
    }
    .online-img-cover, .one21-img-cover {
        width: 90%;
        max-width: 77rem;
    }
}

@media only screen and (min-width: 992px) {
    #splash-sect {
        background: url(../assets/images/Splash_Alfa_Romeo_blur.jpg) center;
        background-size: cover;
        max-height: 45rem;
    }
    #splash-cover {

        background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
        background-size: cover;
        height: 40vw;
        max-height: 45rem;
    }
}

@media only screen and (min-width: 1200px) {
    .online-img-cover, .one21-img-cover {
        height: 50rem;
    }
    .online-title, .one21-title {
        height: 10rem;
        width: 35rem;
    }

    .online-title > h3, .one21-title > h3 {
        font-size: 4rem;
    }

    .online-text, .one21-text {
        height: 22.5rem;
        width: 35rem;
    }

    .online-text > p, .one21-text > p {
        font-size: 2rem;
        padding: 2rem;
    }
}

